/*  your css code here. If applicable */
.b1{
	background-color:#D3D3D3;
	padding:10px;	
}
.b2{
	margin:0px;
	padding:10px;
	display:inline;
	list-style:none;
}
.b2 li{
	margin-right:1rem;
	display:inline;
}
